<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources>
    <add key="disableSourceControlIntegration" value="true" />
  </disabledPackageSources>
  <disabledPackageSources />
  <packageSources>
    <add key="nuget-bancolombia" value="https://artifactory.apps.bancolombia.com/api/nuget/nuget-bancolombia"/>
  </packageSources>
</configuration>